LICENSE.TXT
README.TXT
start*.sh
start*.bat
workspace
sounds
server
logs
etc
contexts
addons
configurations/*.cfg
configurations/*.xml
configurations/transform
*.DS_Store
webapps/images
webapps/static
webapps/README
